services:
  task-runner-lite:
      build:
        context: .
        dockerfile: task-runner/Dockerfile.lite
      environment:
        EXECUTER_IMAGES_DIR: /executer-images
        API_URL: ${INDUCTIVA_API_URL}
        USER_API_KEY: ${INDUCTIVA_API_KEY}
        MACHINE_GROUP_NAME: ${MACHINE_GROUP_NAME}
        HOST_NAME: ${HOST_NAME}
      volumes:
        - ./apptainer:/executer-images
      extra_hosts:
        - "host.docker.internal:host-gateway"
      privileged: true
      platform: linux/amd64