services:
  task-runner:
      build:
        context: .
        dockerfile: task-runner/Dockerfile
      environment:
        EXECUTER_IMAGES_DIR: /executer-images
        API_URL: ${INDUCTIVA_API_URL}
        USER_API_KEY: ${INDUCTIVA_API_KEY}
        MACHINE_GROUP_NAME: ${MACHINE_GROUP_NAME}
        HOST_NAME: ${TASK_RUNNER_HOST_NAME:-${HOSTNAME}}
        ON_GPU: true
      volumes:
        - ./apptainer:/executer-images
      privileged: true
      platform: linux/amd64
      deploy:
        resources:
          reservations:
            devices:
              - driver: nvidia
                count: all
                capabilities: [gpu]