[Unit]
Description=Inductiva API executer tracker %i
After=syslog.target network.target

[Service]
Type=simple
Restart=always
RestartSec=60
WorkingDirectory=/opt/executer-tracker
User=root
ExecStart=/opt/executer-tracker/launch.sh %i
OOMPolicy=continue
LimitNOFILE=10240

[Install]
WantedBy=multi-user.target
